@using MvcPortfolio.Models.Entity;
@model List<TblSkill>

<div class="col-md-6 col-lg-4 mb-5 mb-md-0">
    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <img  style="width:650px; height:250px" class="img-fluid" src="https://thumbs.dreamstime.com/z/businessman-multitasking-skills-cartoon-illustration-vector-75440206.jpg" alt="..." />
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Yeteneklerim</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            @foreach(var item in Model)
            {
                                <div >
                                    <div class="progress-info">
                                        <h6 class="progress-tittle">@item.Name</h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @item.SkillScore%" aria-valuenow="@item.SkillScore" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                
            }
                            
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Pencereyi Kapat
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

