@model MvcPortfolio.Models.Entity.TblEducation
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitim Ekle</h2>

<form method="post">
    <label>Okul Adı</label>
    @Html.TextBoxFor(x => x.EducationName, new { @class = "form-control" })
    <label>Bölüm Adı</label>
    @Html.TextBoxFor(x => x.EducationSubName,  new { @class = "form-control" })
    <label>Eğitim Alınan Yıl Aralığı</label>
    @Html.TextBoxFor(x => x.EducationDate, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Eğitim Ekle</button>
</form>